body {
    display: flex;
    flex-direction: column;
}

#header {
    background-color: lightblue;
    min-height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#content {
    background-color: lightpink;
    min-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display {
    background-color: lightgreen;
    min-width: 900px;
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(5, minmax(50px, 1fr));
    grid-gap: 10px;
    padding: 10px;
}

.book {
    width: 150px;
    height: 200px;
    background-color: yellow;
}

