body {
  display: flex;
  flex-direction: column;
}

#header {
  background-image: url(img/silver-background.jpg);
  background-size: cover;
  min-height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#content {
  background-image: url(img/wooden-texture.jpg);
  background-size: cover;
  min-height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#form-space {
  flex: 1;
}

.invisible {
  display: none;
}

#display {
  flex: 1;
  min-width: 900px;
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(5, minmax(50px, 1fr));
  grid-gap: 10px;
  padding: 10px;
}

.book-cell {
  display: flex;
  max-height: 200px;
  gap: 5px;
}

.book {
  width: 150px;
  height: 200px;
  background-color: #9d7050;
  border: 1px solid;
  border-color: #7a523a;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  display: flex;
  gap: 1;
}

.book.selected {
  border: 4px solid red;
}

.read-div {
  display: flex;
  flex-direction: column;
}

.read-label {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  margin-left: 8px;
}

.read-status {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-label::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 24px;
  transition: background-color 0.3s ease;
}

.toggle-label::after {
  content: '';
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
}

.toggle-input:checked + .toggle-label::after {
  left: 26px;
}

.toggle-input:checked + .toggle-label::before {
  background-color: #2196F3;
}

.left-side {
  background-color: gray;
  border: 1px solid black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 10%;
  margin-right: 14px;
}

.book-title {
  background-color: rgba(122, 82, 58, 0.8);
  color: white;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  align-self: self-start;
  margin-top: 10px;
}

.header-button {
  background-color: rgba(122, 82, 58, 0.8);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 3px 3px 0px #a1896b;
  cursor: pointer;
}

#removal {
  background-color: red;
}

button:hover {
  background-color: #a1896b;
  box-shadow: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 300px;
  margin: 0 auto;
  border: 3px solid gray;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 5px;
}

label {
  font-weight: bold;
  font-size: large;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

input[type="checkbox"] {
  margin-bottom: 10px;
  width: 20px;
  height: 20px;
}

#cancel-button,
input[type="submit"] {
  font-weight: bold;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#form-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#cancel-button {
  background-color: red;
}

input[type="submit"] {
  background-color: #4caf50;
}

#cancel-button:hover {
  background-color: crimson;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}
